{% load staticfiles %}

<html>

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />
<link rel="icon" 
      type="image/jpg" 
      href="http://upload.wikimedia.org/wikipedia/commons/a/a4/Ggb_by_night.jpg">
<br>

<br>
<br>
<head>
	<title>San Francisco: A Text-Based Adventure</title>
</head>

<div class="main-box">

<h1 align="center">San Francisco: A Text-Based Adventure</h1>            
<body>
<p>Hi there, and welcome to the beautiful city of San Francisco! Are you ready to start your journey?</p>

<form align="center" action="SFO/">
<input type="submit" value="Let's play!" method="POST" action="about.html">
</form>
</body>
</div>
<div class="footer">
<a class="foot" href="/about">About</a>
</div>

</html>